<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            History
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of historyArray" [button]="true" (click)="passData(item)" routerLink="/info">
        <ion-list>
            <ion-card-header>
                <ion-item>
                    <ion-avatar style="margin-right:10px">
                        <img src="{{item?.image || urlNoImg}}" alt="">
                    </ion-avatar>
                    <ion-label>
                        <!--all-->
                        <h3>{{item?.name}}</h3>
                        <!--char-->
                        <p>{{item.location?.name}}</p>
                        <!--loc-->
                        <p>{{item?.type}}</p>
                        <!--epi-->
                        <p>{{item?.air_date}}</p>
                    </ion-label>
                </ion-item>
            </ion-card-header>
        </ion-list>
    </ion-card>
</ion-content>
